<main class="bg-light">
    <div>
        <a class="btn btn-success" href="/admin/doacao">Voltar</a>
    </div>
    <div class="container">
        <h1>Inserir Doação</h1>
        <div>
            <label for="DoaForma">Forma Doação</label>
            <select class="form-control" name="" id="DoaForma" style="width: 30%;">
                <option selected value="0"></option>
                <% for(let i=0; i < pagamento.length; i++){ %>
                    <option value="<%= pagamento[i].pagamento_id %>">
                        <%=pagamento[i].pagamento_nome %>
                    </option>
                    <% } %>

            </select>
        </div>

        <div>
            <label>Status</label>
            <select class="form-control" name="" id="DoaStatus" style="width: 30%;">
                <option selected value="0"></option>
                <% for(let i=0; i < status.length; i++){ %>
                    <option value="<%= status[i].status_doacao_id %>">
                        <%= status[i].status_doacao_nome %>
                    </option>
                    <% } %>

            </select>
        </div>
        <div>
            <div>
                <label>Usuário:</label>
                <select class="form-control" id="DoaUsuario" style="width: 50%;">
                    <option selected value="0"></option>
                    <% for(let i=0; i < lista_usu.length; i++){ %>
                        <% if( lista_usu[i].usuario_status==1 ){ %>
                            <option value="<%= lista_usu[i].usuario_id %>">
                                <%= lista_usu[i].usuario_nome %>
                            </option>
                            <% } %>
                                <% } %>
                </select>
            </div>
            <div>
                <a href="#" class="btn btn-info">Cadastrar novo usuário</a>
            </div>
        </div>
        <div>
            <label for="DoaValor">Valor</label>
            <input class="form-control" type="number" id="DoaValor">
        </div>
        <button class="btn btn-success" id="btnCadastrar">Cadastrar informações sobre a doação</button>

    </div>
    </div>

</main>

<script src="/js/admin/adminDoacaoManual.js"></script>