<main>
  <div class="p-5">
    <h1>Doações Cadastradas</h1>
  </div>
  <div class="tableDiv">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Nome</th>
          <th scope="col">Valor</th>
          <th scope="col">Status</th>
          <th scope="col">Data</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < 10; i++) { %>
          <tr>
            <td scope="row">
              <%= listagemDoacao[i].doa_tipo %>
            </td>
            <td>
              <%= listagemDoacao[i].doa_nome %>
            </td>
            <td>
              <%= listagemDoacao[i].doa_valor %>
            </td>
            <td>
              <%= listagemDoacao[i].doa_status %>
            </td>
            <td>
              <%= listagemDoacao[i].doa_data %>
            </td>
            <td><button data-codigoexclusao="<%= listagemDoacao[i].doa_id %>" class="btn btn-danger btnExclusao"
                id="btnExcluir"><i class="fas fa-trash"></i></button></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</main>