<head>
    <link rel="icon" href="https://raw.githubusercontent.com/DanielAugustoFreire/ONG-SITE-BOotstrap/main/assets/logo3.png?token=GHSAT0AAAAAACQAGVQQUKLK6GQCCLLQEYJ2ZP7N7SA" type="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            color: #000000;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            color: rgb(54, 54, 54);
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #dddddd;
        }

        th {
            background-color: #6ab04c;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }

        tr:hover {
            background-color: #f2f2f2;
        }

        td {
            color: #555;
        }

        tbody tr:nth-child(even) {
            background-color: #f8f8f8;
        }

        tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }
    </style>
</head>
<div class="p-3">
    <h1>Pedidos</h1>    
</div>
<table>
    <thead>
        <tr>
            <th>Cpf</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Forma de pagamento</th>
            <th>CEP</th>
        </tr>
    </thead>
    <tbody id="tabelaVoluntarios">
        <% for (let i = 0; i < lista.length; i++) { %>
            <tr>
                <td><%= lista[i].cpf %></td>
                <td><%= lista[i].nome %></td>
                <td><%= lista[i].endereco %></td>
                <td><%= lista[i].pagamento_id %></td>
                <td><%= lista[i].cep %></td>
            </tr>
        <% } %>
    </tbody>
</table>