<style>
    /* Estilos para notícias sem imagem */
.no-image {
    background-color: #fff; /* Cor de fundo diferente */
    /* Outros estilos desejados para notícias sem imagem */
}

    /* Estilos personalizados */
    .news-item {
        background-color: #f9f9f9;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 20px;
        transition: transform 0.2s;
        display: flex;
        align-items: center;
    }

    .news-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .title {
        font-size: 24px;
        color: #333;
        font-weight: bold;
    }

    .description {
        font-size: 16px;
        color: #777;
        margin-top: 10px;
    }

    /* Estilos para o link do item de notícia */
    .news-link {
        text-decoration: none;
        color: #333;
    }

    .news-link:hover {
        color: #ff6f61;
    }

    /* Estilos para as imagens */
    .news-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px;
    }
</style>

<div class="container py-5">
    <h1 class="display-4 mt-5 mb-5">Últimas Notícias</h1>
    <div class="list-group">
        <% for (let i = 0; i < lista.length; i++) { %>
            <a href="espec/<%= lista[i].ONG_NOTICIA_ID %>" class="news-link">
                <div class="news-item <%= lista[i].posssuiImagem ? '' : 'no-image' %>">
                    <% if (lista[i].posssuiImagem) { %>
                    <img src="<%= lista[i].ONG_NOTICIA_IMG %>" alt="Ícone Notícia <%= i + 1 %>" class="news-img">
                      <% } %>
                    <div>
                        <h5 class="title mb-1"><%= lista[i].ONG_NOTICIA_TITULO %></h5>
                        <p class="description mb-1"><%= lista[i].ONG_NOTICIA_DESCRICAO %></p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>
