<script src="/js/admin/produto/excluir.js"></script>
<link rel="stylesheet" type="text/css" href="/css/admin/adminDoacao.css">


<div class="container">
    <div class="row">
      <!-- Coluna do filtro para telas maiores -->
      <div class="col-md-4 d-none d-md-block">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Filtro de Produtos</h4>
            </div>
            <div class="card-body">
              <div>
                <div class="form-group">
                    <label for="productName"><strong>Nome do Produto</strong></label>
                    <input type="text" class="form-control" id="productName" placeholder="Digite o nome do produto">
                </div>
                <div class="form-group">
                    <label><strong>Ordenar por Preço</strong></label><br>
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                        <label class="radio flex-fill">
                            <input type="radio" class="itemFiltro priceOrder" name="priceOrder" id="ascendente" autocomplete="off"> ascendente
                        </label>
                        <label class="radio flex-fill">
                            <input type="radio" class="itemFiltro priceOrder" name="priceOrder" id="descendente" autocomplete="off"> descendente
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label><strong>Categoria</strong></label><br>
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                        <% listaCate.map(function(value, index) { %>
                        <label class="checkbox flex-fill">
                            <input type="checkbox" class="itemFiltro" name="category" id="<%= value.categoriaId %>" autocomplete="off"> <%= value.categoriaNome %>    
                        </label>
                        <% }) %>
                    </div>
                </div>
                <div class="form-group">
                    <label><strong>Marca</strong></label><br>
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                        <% listaMarca.map(function(value, index) { %>
                        <label class="checkbox flex-fill">
                            <input type="checkbox" class="itemFiltro" name="brand" id="<%= value.marcaId %>" autocomplete="off"> <%= value.marcaNome %>    
                        </label>
                        <% }) %>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="quantityMin"><strong>Quantidade Mínima</strong></label>
                        <input type="number" class="form-control" id="quantityMin" min="0" placeholder="Mínimo">
                    </div>
                    <div class="col">
                        <label for="quantityMax"><strong>Quantidade Máxima</strong></label>
                        <input type="number" class="form-control" id="quantityMax" min="0" placeholder="Máximo">
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-block mt-3" id="btnFiltrar">Buscar</button>
            </div>
            
            </div>
        </div>
    </div>
    

      <!-- Coluna da tabela -->
      <div class="col-md-8">
        <div class="mb-4">
          <h1>Produtos</h1>
          <div class="d-flex justify-content-between flex-wrap mb-3">
            <div class="mb-2">
              <a href="produto/marca" class="btn btn-primary">Ver Marcas</a> 
              <a href="produto/categoria" class="btn btn-primary">Ver Categorias</a>
              <a href="produto/cadastro" class="btn btn-success">Cadastrar</a>
            </div>
            <button data-bs-toggle="modal" data-bs-target="#exportModal" class="btn btn-warning btn-sm" type="button">
              Exportar<i class="fa fa-file" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Imagem</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Preco</th>
                <th>Marca</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody id="venda">
              <% lista.map(function(value, index) { %>
              <tr>
                <td>
                  <% if(value.imagem != "") { %>
                  <img src="<%= value.imagem %>" width="80" />
                  <% } else { %>
                  <img src="/img/sem-foto.png" width="80">
                  <% } %>
                </td>
                <td><%= value.produtoCodigo %></td>
                <td><%= value.produtoNome %></td>
                <td><%= value.produtoQuantidade %></td>
                <td><%= value.categoriaNome %></td>
                <td><%= value.produtoValor %></td>
                <td><%= value.marcaNome %></td>                   
                <td>
                  <div class="btn-group" role="group" aria-label="Ações">
                    <a href="produto/alterar/<%= value.produtoId %>" class="btn btn-primary"> <i class="bi bi-pen"></i></a>
                    <button data-codigo="<%=value.produtoId %>" class="btn btn-danger btnExcluir"><i class="bi bi-trash"></i></button>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

        <!-- Modal para exportar tabela -->
        <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exportModalLabel">Exportar Tabela</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="ExportExcel">
                  <label class="form-check-label" for="ExportExcel">Excel</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="ExportPdf">
                  <label class="form-check-label" for="ExportPdf">PDF</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" id="ExportarTabela">Exportar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
