<div class="container">
    <script src="/js/admin/patrimonio/excluir.js"></script>
    <h1 class="">Patrimônios Registrados</h1>
    <style>
        .editar {
            margin-right: 1.5rem;
        }

        .custom-link {
            color: inherit; /* Usa a cor padrão do texto */
            text-decoration: none; /* Remove o sublinhado */
            cursor: pointer; /* Muda o cursor para parecer mais um botão */
        }

        .custom-link:hover {
            color: inherit; /* Mantém a cor quando o mouse passa por cima */
        }
    </style>

<div class="container">
    <div class="container">
        <div class="row">
            <% for (let i = 0; i < lista.length; i++) { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 border-1 border-black">
                        <a href="alterar/<%= lista[i].ONG_PATRIMONIO_ID %>" class="custom-link">
                            <img src="<%= lista[i].ONG_PATRIMONIO_IMG %>" alt="Ícone Patrimônio" class="card-img-top img-fluid">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><%= lista[i].ONG_PATRIMONIO_NOME %></h5>
                                <p class="card-text text-muted"><%= lista[i].ONG_PATRIMONIO_DESCRICAO %></p>
                                <p class="card-text"><strong>Quantidade:</strong> <%= lista[i].ONG_PATRIMONIO_QUANTIDADE %></p>
                                <p class="card-text">
                                    <strong>Status:</strong>
                                    <% if (lista[i].ONG_PATRIMONIO_STATUS === 'disponivel') { %>
                                        <span class="badge bg-success">Disponível</span>
                                    <% } else if (lista[i].ONG_PATRIMONIO_STATUS === 'inoperante') { %>
                                        <span class="badge bg-secondary text-dark">Inoperante</span>
                                    <% } else if (lista[i].ONG_PATRIMONIO_STATUS === 'indisponivel') { %>
                                        <span class="badge bg-danger">Indisponível</span>
                                    <% } %>
                                </p>
                                <% if (lista[i].ONG_PATRIMONIO_DATACADASTRO) { %>
                                    <p class="card-text"><strong>Data de Cadastro:</strong> <%= new Date(lista[i].ONG_PATRIMONIO_DATACADASTRO).toLocaleDateString() %></p>
                                <% } %>
                            </div>
                        </a>
                        <div class="card-footer text-right">
                            <a id="editar" href="patrimonio/alterar/<%= lista[i].ONG_PATRIMONIO_ID %>" class="btn btn-primary" title="Editar"><i class="fas fa-pen"></i></a>
                            <button data-codigo="<%= lista[i].ONG_PATRIMONIO_ID %>" id="btnExcluir" class="btn btn-danger btnExcluir" title="Excluir"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/admin/patrimonio/adminCadastrar" type="submit" class="btn btn-success">Registrar Patrimônio</a>
            </div>
        </div>
    </div>
    
</div>

    <br><br><br><br><br>
</div>
