<style>
    
    .separar {
            display: grid;
            grid-template-columns: 10fr 90fr; /* 5% para a primeira coluna e 95% para a segunda */
            height: 100%;
        }
        .left {
            
            padding: 10px;
        }
        .right {
            
            padding: 10px;
        }
</style>
<div class="separar retirar">
    <div class="left" >
        <h2>Filtros</h2>
        <hr>
        <input class="pt-1" id="Cancelados" type="checkbox"><label>Mostrar Cancelados</label><br><!--Filtrar todos-->
        <input  class="pt-1" id="Proximos" type="checkbox"><label>Proximos</label><br><!--Filtrar pegando a data atual-->
        <input  class="pt-1" id="Finalizado" type="checkbox"><label>Finalizados</label><!--Filtrar mostrando Eventos que já ocorreram-->
        <label>Data maior que</label>
        <input class="form-control" type="date" id="DataMaior"><!--Filtrar por data maior que esta-->
        <button id="aplicarFiltros" class="btn btn-outline-info btn-sm mt-2">Aplicar Filtros</button>
        <button class="btn btn-outline-danger btn-sm mt-2">Exportar Pagina em PDF</button>
    </div>
<div class="container right"  style="padding: 2%;">
   
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Administração de Eventos</h1>
            <p class="lead">Confira nossos próximos eventos</p>
            <a class="btn btn-outline-success" href="/admin/eventos/cadastrar">Cadastrar Novo evento</a>
        </div>
    </div>
    <div id="Eventos">
        <% if(lista != undefined ) { %>
            <div class="row mt-4">
                <% for(let i = 0; i < lista.length; i++) { %>
                <!-- Event -->
                <% if(lista[i]!= undefined){ %>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card border-primary mb-4">
                        <img src="<%= lista[i].evento_imagem %>" class="card-img-top" alt="Evento <%= i+1 %>" height="250px" >
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><%= lista[i].evento_nome %></h5>
                            <p class="card-text flex-grow-1"><%= lista[i].evento_descricao %></p>
                            <p class="card-text text-center">
                                <small class="text-muted">Data: <%= new Date(lista[i].evento_data).toLocaleDateString() %><br> 
                                Inicio: <%= lista[i].evento_inicio %> 
                                Duração: <%= lista[i].evento_duracao %> Horas</small>
                            </p>
                            <div class="mt-auto d-flex justify-content-between">
                                <a data-codigocancelamente="<%= lista[i].evento_id %>" href="#" class="btn btn-danger">Cancelar Evento</a>
                                <a href="/admin/eventos/alterar/<%= lista[i].evento_id %>" class="btn btn-primary">Editar/Registrar saída</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <% } else { %>
            <h1><strong>Nenhum Evento encontrado</strong></h1>
            <% } %>
    </div>
</div>


</div>
<script src="/js/admin/evento/eventoFiltro.js"></script>