<script src="/js/admin/noticias/alterar.js"></script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-0">Alterar Notícia</h1>
                </div>
                <div class="card-body">
                    <form>
                        <input type="hidden" id="idNoticia" value="<%= lista.ONG_NOTICIA_ID %>"> 
                        <div class="form-group">
                            <label for="titulo">Novo Título::</label>
                            <input type="text" class="form-control" id="novoTitulo" name="novoTitulo" value="<%= lista.ONG_NOTICIA_TITULO %>">
                        </div>
                        <div class="form-group">
                            <label for="descricao">Nova Descrição:</label>
                            <textarea class="form-control" id="novaDescricao" name="novaDescricao" ><%= lista.ONG_NOTICIA_DESCRICAO %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="conteudo">Novo Conteúdo:</label>
                            <textarea class="form-control" id="novoConteudo" name="novoConteudo" ><%= lista.ONG_NOTICIA_CONTEUDO %></textarea>
                        </div>                        
                        <div class="form-group mt-1">
                            <label for="inputImagem">Imagem da Noticia</label>
                            <input type="file" class="form-control" id="inputImagem">
                          </div>
                          <div class="form-group mt-1">
                            <img id="previaImagem" width="200" src="<%= lista.ONG_NOTICIA_IMG %>"/>
                        </div>
                        <div class="form-group mt-4">
                            <button class="btn btn-success" type="button" id="btnAlterar">Criar Notícia</button>
                            <a href="/admin/noticias" class="btn btn-secondary">Voltar</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
